@charset "UTF-8";

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #132743;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.col-md-25 {
    width: 24.5%;
}

.col-md-75 {
    width: 74.5%;
}

.col-md-50 {
    width: 50%;
}

.inline-block {
    display: inline-block;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

input[type=text],
input[type=password],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: 500;
}

.register,
.search {
    background-color: #d7385e;
    color: white;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.btn-red {
    background-color: #d7385e;
    color: white;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.lucky {
    background-color: #edc988;
    color: white;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.flexbox-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-register-header {
    margin-top: 5%;
}

.login-register-header h1 {
    font-size: 48px;
}

.register-box h2 {
    font-weight: 300;
    text-align: center;
}

.register-box {
    padding: 40px 50px;
    background: white;
}

.success-msg,
.error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}

.success-msg {
    color: #270;
    background-color: #DFF2BF;
}

.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
}

.main-header {
    background-color: white;
    padding: 20px 70px;
    box-shadow: 5px 10px 18px #e2e2e2;
}

.logo {
    font-weight: 900;
    font-size: 22px;
    display: inline;
}

nav {
    padding: 3px;
    display: inline;
    float: right;
}

.upload-btn {
    background: #edc988;
    padding: 8px 12px;
    font-size: 12px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
}

#name::after {
    content: "▾";
    margin-left: 5px;
}

.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.homepage h2,
.view_loaned h2 {
    font-size: 40px;
    font-weight: 300;
}

.homepage input {
    background: #f5f5f5;
    border-radius: 20px;
    padding: 20px;
}

.buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload,
.view_loaned {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.upload h2 {
    font-size: 26px;
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

.doc-info {
    margin-left: 25px;
}

.doc-info h3 {
    margin-block-start: 0em;
}

#overlay {
    width: 100%;
    height: 550px;
    border: 1px solid black;
}

#overlay p {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 0 30px;
    justify-content: center;
    font-size: 20px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.view-document {
    padding: 30px;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 118px;
    margin-top: 23px;
    box-shadow: 0px 13px 18px #e2e2e2;
    min-width: 160px;
    z-index: 1;
    background: white;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    color: #132743;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.view-doc-btn,
.rate-doc-btn {
    padding: 12px 15px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
}

.rate-doc-btn {
    background: #edc988;
    border-color: #edc988;
    border-style: solid;
}

.view-doc-btn {
    background: #d7385e;
}

.loaned-doc-block, .doc-block {
    padding: 10px 30px 30px 30px;
    box-shadow: 5px 10px 18px #e2e2e2;
    background: white;
    margin-bottom: 30px;
}
#documents {
    margin-top: 30px;
}
.orange {
    color: orange;
  }
.inline {
    display:inline;
  }
.ml-5 {
    margin-left:5px;
  }
.bold {
    font-weight: bold;
  }
.view-doc-btn-container {
    float:right;
    margin-top: -20px;
  }
.points {
    border-bottom: 1px solid #d2d2d2;
    background: #f5f5f5;
    font-weight: 500;
    padding: 12px 16px;
    color: #132743;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
}
.rating {
    width: 20%;
}
optgroup { 
    font-size:40px; 
}
.hidden {
    display:none;
}
.mt-20{
    margin-top:20px;
}
.link{
    text-decoration: none;
    color: #0366d6
}
.link:hover{
    text-decoration: underline;
}